@import "reset";
@import "container";



.header-area {
  background-color: #30314d;
  color: #ffffff;
  .nav-link {
    color: #ffffff;
    text-transform: uppercase;
  }
  hr {
    width: 85%;
    margin: auto;
  }
  .hero-section {
    text-align: center;
    padding: 90px 0;
    h1{
      text-transform: uppercase;
      font-size: 50px;
    }
    p{
      font-size: 15px;
      color: #abafb2;
    }
    .btn {
      border: none;
      padding: 10px 40px;
      background-color: #e84546;
      color: #f5eadc;
      text-transform: uppercase;
      font-size: 12px;
      margin-top: 30px;
      border-radius: 0;
    }
  }
  
}

