@import "reset";
@import "container";

$font: 'Roboto', sans-serif;
$primaryColor: #747d8c;
$secondaryColor: #ffffff;

h1,h2,h3,h4,h5,h6{
  font-family: $font;
}
.btn-style{
  border: none;
  background-color: #e84546;
  color: #f5eadc;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  border-radius: 0;
}

//Header area start
.header-area {
  background-color: #30314d;
  color: #ffffff;
  .nav-link {
    font-family: $font;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
  }
  hr {
    width: 85%;
    margin: auto;
  }
  .hero-section {
    text-align: center;
    padding: 90px 0;
    h1{
      text-transform: uppercase;
      font-size: 50px;
      line-height: 1.3em;
    }
    p{
      font-size: 15px;
      color: #abafb2;

    }
    .btn {
      @extend .btn-style;
      padding: 10px 40px;
      margin-top: 30px;
    }
  }
  
}
//Header area end

//Works area start
.works-area {
  padding: 80px 0;
  .container{
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(32% ,1fr));
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 10px;
  }
  .works {
    padding: 5px 15px;
    text-align: center;
    img{
      width: 50px;
      height: 50px;

    }
    .content{
      margin-top: 25px;
      h5{
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      p{
        font-size: 14px;
        color: $primaryColor;
      }
    }
  }
}
//Works area end

//Pictures area start
.pictures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24% ,1fr));
    .picture{
      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
        }
     }
}

//Pictures area end

//Team area start
.team-area {
  padding: 80px 0;
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
    grid-column-gap: 1%;
    .team{
      img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      .team-content{
        margin-top: 15px;
        h4{
          font-size: 18px;
        }
        h6{
          font-size: 14px;
          color: #e84546;
        }
        p{
          color: $primaryColor;
          font-size: 14px;
        }
      }
      .team-social{
        a{
          color: #bdc3c7;
          i{
            padding: 5px;
            border: 1px solid #bdc3c7;
            font-size: 15px;
          }
        }
      }
    }
  }
}
//Team area end

//Testimonial area start
.testimonial-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50% ,1fr));
  .test-img{
    img{
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .test-content{
    background-color: #523549;
    padding: 65px;
    color: #bdc3c7;
    h3{
      font-size: 25px;
      font-family:  'Playfair Display', serif;
    }
    p{
      font-size: 15px;
      font-weight: bold;
    }
  }
}
//Testimonial area end

//Download area start
.download-area {
  padding: 80px 0;
  text-align: center;
  .download{
    h2{
      text-transform: capitalize;
      color: #576574;
    }
    p{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
    }
    .download-btn{
      @extend .btn-style;
      padding: 10px 60px;
      margin-top: 15px;
      display: inline-block;
    }
  }
}
//Download area end
.footer-area {
  color: $secondaryColor;
  text-align: center;
  .footer-top{
    background-color: #3a3e63;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32% ,1fr));
    padding: 50px 0;
    h5{
      text-transform: uppercase;
      font-size: 14px;
    }
    p{
      color: $primaryColor;
      font-size: 14px;
    }
    .social{
      .social-icon{
        a{
          color: #bdc3c7;
          i{
            padding: 5px;
            border: 1px solid #bdc3c7;
            font-size: 15px;
          }
        }
      }
    }
  }
  .footer-bottom{
    background-color: #313455;
    text-align: center;
    padding: 8px 0;
    p{
      font-size: 14px;
    }
  }
}
//Footer area start

//Footer area end

//Responsive//
